body {
  width: 960px;
}
h1 {

}
h2 {

}
a:hover {

}

p.intro {

}

p {

}

a {

}

img.beach {
  border-radius: 8px;
}

.menu {
  background-color: gray;
  font-family: sans-serif;
  font-size: 16pt;

}
