body {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.content {
  width: 70%;
  margin: auto;
  background-color: #fff;
  height: 2500px;
}

img.beach {
  border-radius: 8px;
}

.logo {
  text-align: center;
}

.menu {
  background-color: gray;
  font-family: sans-serif;
  font-size: 16pt;
  float: none;
}

.column {
  float: left;
  width: 30%;
  margin-right: 3%;
}
